# Final Project Submission

Please fill out:
* Student name: Thiago Bassi
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [2]:
# Your code here - remember to use markdown cells for comments as well!

In [3]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib
import sqlite3
import matplotlib.pyplot as plt
import json
import pickle
import seaborn as sns

In [4]:
con = sqlite3.connect('Data/im.db')
cursor_obj = con.cursor()

In [5]:
%%bash


sqlite3 data/im.db
.tables

directors      movie_akas     movie_ratings  principals
known_for      movie_basics   persons        writers

In [6]:
%%bash


sqlite3 data/im.db
.schema

CREATE TABLE IF NOT EXISTS "movie_basics" (
"movie_id" TEXT,
  "primary_title" TEXT,
  "original_title" TEXT,
  "start_year" INTEGER,
  "runtime_minutes" REAL,
  "genres" TEXT
);
CREATE TABLE IF NOT EXISTS "directors" (
"movie_id" TEXT,
  "person_id" TEXT
);
CREATE TABLE IF NOT EXISTS "known_for" (
"person_id" TEXT,
  "movie_id" TEXT
);
CREATE TABLE IF NOT EXISTS "movie_akas" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "title" TEXT,
  "region" TEXT,
  "language" TEXT,
  "types" TEXT,
  "attributes" TEXT,
  "is_original_title" REAL
);
CREATE TABLE IF NOT EXISTS "movie_ratings" (
"movie_id" TEXT,
  "averagerating" REAL,
  "numvotes" INTEGER
);
CREATE TABLE IF NOT EXISTS "persons" (
"person_id" TEXT,
  "primary_name" TEXT,
  "birth_year" REAL,
  "death_year" REAL,
  "primary_profession" TEXT
);
CREATE TABLE IF NOT EXISTS "principals" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "person_id" TEXT,
  "category" TEXT,
  "job" TEXT,
  "characters" TEXT
);
CREATE TABLE IF NOT EXISTS "writers" (
"movie_id" TEXT,
  "person_id" TEXT
);

In [7]:
#upload all the tables
qr_directors = 'SELECT * FROM directors'
qr_movie_akas = 'SELECT * FROM movie_akas'
qr_movie_ratings = 'SELECT * FROM movie_ratings'
qr_principals = 'SELECT * FROM principals'
qr_known_for = 'SELECT * FROM known_for'
qr_movie_basics = 'SELECT * FROM movie_basics'
qr_persons = 'SELECT * FROM persons'
qr_writers = 'SELECT * FROM writers'

In [8]:
tb_directors = pd.read_sql(qr_directors,con)
tb_movie_akas = pd.read_sql(qr_movie_akas,con)
tb_movie_ratings = pd.read_sql(qr_movie_ratings,con)
tb_principals = pd.read_sql(qr_principals,con)
tb_known_for = pd.read_sql(qr_known_for,con)
tb_movie_basics = pd.read_sql(qr_movie_basics,con)
tb_persons = pd.read_sql(qr_persons,con)
tb_writers = pd.read_sql(qr_writers,con)

tb_movie_basics.to_csv('movie_basics.csv')

Don't execute this code, i already made the tables but below is the code I used. Turned this into a markdown so I don't accidentally do this


tb_directors.to_csv('tb_directors.csv')
tb_movie_akas.to_csv('tb_movie_akas.csv')
tb_movie_ratings.to_csv('tb_movie_ratings.csv')
tb_principals.to_csv('tb_principals.csv')
tb_known_for.to_csv('tb_known_for.csv')
tb_movie_basics.to_csv('tb_movie_basics.csv')
tb_persons.to_csv('tb_persons.csv')
tb_writers.to_csv('tb_writers.csv')

In [9]:
tb_directors.columns

Index(['movie_id', 'person_id'], dtype='object')

In [10]:
tb_persons.columns

Index(['person_id', 'primary_name', 'birth_year', 'death_year',
       'primary_profession'],
      dtype='object')

In [11]:
tb_movie_basics.columns

Index(['movie_id', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [12]:

#F.1
tb_directors['director_name'] = tb_directors['person_id'].map(tb_persons.set_index('person_id')['primary_name'])

In [13]:
#F.2
tb_directors['director_movie_PR'] = tb_directors['movie_id'].map(tb_movie_basics.set_index('movie_id')['primary_title'])

In [14]:
tb_directors

,movie_id,person_id,director_name,director_movie_PR
0,tt0285252,nm0899854,Tony Vitale,Life's a Beach
1,tt0462036,nm1940585,Bill Haley,Steve Phoenix: The Untold Story
2,tt0835418,nm0151540,Jay Chandrasekhar,The Babymakers
3,tt0835418,nm0151540,Jay Chandrasekhar,The Babymakers
4,tt0878654,nm0089502,Albert Pyun,Bulletface
...,...,...,...,...
291169,tt8999974,nm10122357,Daysi Burbano,Madre Luna
291170,tt9001390,nm6711477,Bernard Lessa,The woman and the river
291171,tt9001494,nm10123242,Tate Nova,Stone Mountain Georgia 08.28.18
291172,tt9001494,nm10123248,Courtney Faye Powell,Stone Mountain Georgia 08.28.18
291173,tt9004986,nm4993825,Fredrik Horn Akselsen,Syndebukken: Prosessen mot Harry Lindstrøm

In [35]:
tb_directors_nadropped = tb_directors.dropna(subset = 'director_name')

In [40]:
tb_directors_nadropped[tb_directors_nadropped['director_name'].str.contains("ill")]

,movie_id,person_id,director_name,director_movie_PR
1,tt0462036,nm1940585,Bill Haley,Steve Phoenix: The Untold Story
48,tt10133856,nm10384892,Mal Williamson,Under the Weather
49,tt10133856,nm10384892,Mal Williamson,Under the Weather
50,tt10133856,nm10384892,Mal Williamson,Under the Weather
51,tt10133856,nm10384892,Mal Williamson,Under the Weather
...,...,...,...,...
291133,tt8924952,nm5223080,Freddy Novillo,A través del espejo
291134,tt8928598,nm7311864,Roberto Villar,Twist of Face
291135,tt8928598,nm7311864,Roberto Villar,Twist of Face
291141,tt8948466,nm10079230,Floréal Guillard,Pink Automatic
291142,tt8948466,nm10098149,Yanis Guillard,Pink Automatic