# Final Project Submission

Please fill out:
* Student name: Thiago Bassi
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib
import sqlite3
import matplotlib.pyplot as plt
import json
import pickle

In [3]:
con = sqlite3.connect('Data/im.db')
cursor_obj = con.cursor()

In [6]:
# checking the table names on the sql file
%%bash 

sqlite3 Data/im.db
.tables

SyntaxError: invalid syntax (500232379.py, line 4)

In [7]:
#upload all the tables
qr_directors = 'SELECT * FROM directors'
qr_movie_akas = 'SELECT * FROM movie_akas'
qr_movie_ratings = 'SELECT * FROM movie_ratings'
qr_principals = 'SELECT * FROM principals'
qr_known_for = 'SELECT * FROM known_for'
qr_movie_basics = 'SELECT * FROM movie_basics'
qr_persons = 'SELECT * FROM persons'
qr_writers = 'SELECT * FROM writers'

In [8]:
tb_directors = pd.read_sql(qr_directors,con)
tb_movie_akas = pd.read_sql(qr_movie_akas,con)
tb_movie_ratings = pd.read_sql(qr_movie_ratings,con)
tb_principals = pd.read_sql(qr_principals,con)
tb_known_for = pd.read_sql(qr_known_for,con)
tb_movie_basics = pd.read_sql(qr_movie_basics,con)
tb_persons = pd.read_sql(qr_persons,con)
tb_writers = pd.read_sql(qr_writers,con)

In [9]:
tb_movie_basics.to_csv('movie_basics.csv')

In [10]:
tb_directors.to_csv('tb_directors.csv')
tb_movie_akas.to_csv('tb_movie_akas.csv')
tb_movie_ratings.to_csv('tb_movie_ratings.csv')
tb_principals.to_csv('tb_principals.csv')
tb_known_for.to_csv('tb_known_for.csv')
tb_movie_basics.to_csv('tb_movie_basics.csv')
tb_persons.to_csv('tb_persons.csv')
tb_writers.to_csv('tb_writers.csv')

In [15]:
%%bash


sqlite3 data/im.db
.schema

CREATE TABLE IF NOT EXISTS "movie_basics" (
"movie_id" TEXT,
  "primary_title" TEXT,
  "original_title" TEXT,
  "start_year" INTEGER,
  "runtime_minutes" REAL,
  "genres" TEXT
);
CREATE TABLE IF NOT EXISTS "directors" (
"movie_id" TEXT,
  "person_id" TEXT
);
CREATE TABLE IF NOT EXISTS "known_for" (
"person_id" TEXT,
  "movie_id" TEXT
);
CREATE TABLE IF NOT EXISTS "movie_akas" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "title" TEXT,
  "region" TEXT,
  "language" TEXT,
  "types" TEXT,
  "attributes" TEXT,
  "is_original_title" REAL
);
CREATE TABLE IF NOT EXISTS "movie_ratings" (
"movie_id" TEXT,
  "averagerating" REAL,
  "numvotes" INTEGER
);
CREATE TABLE IF NOT EXISTS "persons" (
"person_id" TEXT,
  "primary_name" TEXT,
  "birth_year" REAL,
  "death_year" REAL,
  "primary_profession" TEXT
);
CREATE TABLE IF NOT EXISTS "principals" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "person_id" TEXT,
  "category" TEXT,
  "job" TEXT,
  "characters" TEXT
);
CREATE TABLE IF NOT EXISTS "writers" (
"movie_id" TEXT,
  "person_id" TEXT
);

In [18]:
sqlite3 -header "select * from persons;" > persons.csv

SyntaxError: invalid syntax (1167288633.py, line 1)