# Final Project Submission

Please fill out:
* Student name: Thiago Bassi
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [7]:
# Your code here - remember to use markdown cells for comments as well!

#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib
import sqlite3
import matplotlib.pyplot as plt
import json
import pickle
import seaborn as sns

con = sqlite3.connect('Data/im.db')
cursor_obj = con.cursor()

%%bash


sqlite3 data/im.db
.tables

%%bash


sqlite3 data/im.db
.schema

#upload all the tables
qr_directors = 'SELECT * FROM directors'
qr_movie_akas = 'SELECT * FROM movie_akas'
qr_movie_ratings = 'SELECT * FROM movie_ratings'
qr_principals = 'SELECT * FROM principals'
qr_known_for = 'SELECT * FROM known_for'
qr_movie_basics = 'SELECT * FROM movie_basics'
qr_persons = 'SELECT * FROM persons'
qr_writers = 'SELECT * FROM writers'

tb_directors = pd.read_sql(qr_directors,con)
tb_movie_akas = pd.read_sql(qr_movie_akas,con)
tb_movie_ratings = pd.read_sql(qr_movie_ratings,con)
tb_principals = pd.read_sql(qr_principals,con)
tb_known_for = pd.read_sql(qr_known_for,con)
tb_movie_basics = pd.read_sql(qr_movie_basics,con)
tb_persons = pd.read_sql(qr_persons,con)
tb_writers = pd.read_sql(qr_writers,con)

tb_movie_basics.to_csv('movie_basics.csv')

Don't execute this code, i already made the tables but below is the code I used. Turned this into a markdown so I don't accidentally do this


tb_directors.to_csv('tb_directors.csv')
tb_movie_akas.to_csv('tb_movie_akas.csv')
tb_movie_ratings.to_csv('tb_movie_ratings.csv')
tb_principals.to_csv('tb_principals.csv')
tb_known_for.to_csv('tb_known_for.csv')
tb_movie_basics.to_csv('tb_movie_basics.csv')
tb_persons.to_csv('tb_persons.csv')
tb_writers.to_csv('tb_writers.csv')

In [52]:
tb_directors.columns

Index(['movie_id', 'person_id'], dtype='object')

In [53]:
tb_persons.columns

Index(['person_id', 'primary_name', 'birth_year', 'death_year',
       'primary_profession'],
      dtype='object')

In [61]:
tb_movie_basics.columns

Index(['movie_id', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [59]:

#F.1
tb_directors['director_name'] = tb_directors['person_id'].map(tb_persons.set_index('person_id')['primary_name'])

In [62]:
#F.2
tb_directors['director_movie_PR'] = tb_directors['movie_id'].map(tb_movie_basics.set_index('movie_id')['primary_title'])