# Final Project Submission

Please fill out:
* Student name: Thiago Bassi
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [11]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib
import sqlite3
import matplotlib.pyplot as plt
import json
import pickle
import seaborn as sns

In [24]:
# Reading the csv and the tvs, there was ont that was need to put one enconding
bom_movie_gross = pd.read_csv('data/bom.movie_gross.csv')
rt_movie_info = pd.read_csv('data/rt.movie_info.tsv', delimiter = '\t')
rt_reviews = pd.read_csv('data/rt.reviews.tsv', delimiter = '\t', encoding='ISO-8859-1')
tmdb_movies = pd.read_csv('data/tmdb.movies.csv')
tn_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv')

In [25]:
bom_movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [34]:
rt_movie_info

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [27]:
rt_reviews

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [37]:
tmdb_movies[['popularity','vote_count','original_title']]

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [21]:
tn_movie_budgets

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [40]:
con = sqlite3.connect('data/im.db')
cursor_obj = con.cursor()

In [41]:

%%bash


sqlite3 data/im.db
.schema

CREATE TABLE IF NOT EXISTS "movie_basics" (
"movie_id" TEXT,
  "primary_title" TEXT,
  "original_title" TEXT,
  "start_year" INTEGER,
  "runtime_minutes" REAL,
  "genres" TEXT
);
CREATE TABLE IF NOT EXISTS "directors" (
"movie_id" TEXT,
  "person_id" TEXT
);
CREATE TABLE IF NOT EXISTS "known_for" (
"person_id" TEXT,
  "movie_id" TEXT
);
CREATE TABLE IF NOT EXISTS "movie_akas" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "title" TEXT,
  "region" TEXT,
  "language" TEXT,
  "types" TEXT,
  "attributes" TEXT,
  "is_original_title" REAL
);
CREATE TABLE IF NOT EXISTS "movie_ratings" (
"movie_id" TEXT,
  "averagerating" REAL,
  "numvotes" INTEGER
);
CREATE TABLE IF NOT EXISTS "persons" (
"person_id" TEXT,
  "primary_name" TEXT,
  "birth_year" REAL,
  "death_year" REAL,
  "primary_profession" TEXT
);
CREATE TABLE IF NOT EXISTS "principals" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "person_id" TEXT,
  "category" TEXT,
  "job" TEXT,
  "characters" TEXT
);
CREATE TABLE IF NOT EXISTS "writers" (
"movie_id" TEXT,
  "person_id" TEXT
);

In [42]:
%%bash


sqlite3 data/im.db
.tables

directors      movie_akas     movie_ratings  principals
known_for      movie_basics   persons        writers

In [134]:
#1.1creating the string for take the date from the tables
qr_directors = 'SELECT D.movie_id, D.person_id,B.primary_name,B.birth_year,B.death_year,B.primary_profession,A.primary_title,A.original_title,A.start_year,A.runtime_minutes,A.genres FROM directors D, persons B, movie_basics A WHERE D.person_id=B.person_id and D.movie_id=A.movie_id'
qr_movie_akas = 'SELECT * FROM movie_akas A, movie_ratings B where B.movie_id=A.movie_id'
qr_movie_ratings = 'SELECT * FROM movie_ratings A, movie_akas B where B.movie_id=A.movie_id'
qr_principals = 'SELECT * FROM principals'
qr_known_for = 'SELECT * FROM known_for A, principals B,  persons C, movie_basics D where A.person_id = C.person_id AND A.person_id=B.person_id AND C.person_id=B.person_id AND A.movie_id=D.movie_id'
qr_movie_basics = 'SELECT * FROM movie_basics A, movie_ratings B where B.movie_id=A.movie_id'
qr_persons = 'SELECT * FROM persons'
qr_writers = 'SELECT * FROM writers'

In [135]:
#upload all the tables
tb_directors = pd.read_sql(qr_directors,con)
tb_movie_akas = pd.read_sql(qr_movie_akas,con)
tb_movie_ratings = pd.read_sql(qr_movie_ratings,con)
tb_principals = pd.read_sql(qr_principals,con)
tb_known_for = pd.read_sql(qr_known_for,con)
tb_movie_basics = pd.read_sql(qr_movie_basics,con)
tb_persons = pd.read_sql(qr_persons,con)
tb_writers = pd.read_sql(qr_writers,con)

In [ ]:
qr_geral_people = 'SELECT * FROM tb_persons B where B.person_id ' 

tb_geral_people= pd.read_sql(qr_geral_people, con)

tb_geral_people

In [ ]:
A tb_movie_basics A where A.movie_id (MAIN)
B tb_persons B where B.person_id (MAIN)

A - tb_movie_ratings C where C.movie_id=A.movie_id
B / A - tb_directors D where D.movie_id=A.movie_id and D.person_id=B.person_id
A - tb_movie_akas F where F.movie_id=A.movie_id
B / A - tb_principals E where E.movie_id=A.movie_id and E.person_id=B.person_id
B / A tb_writers G where G.movie_id=A.movie_id and G.person_id=B.person_id
B / A tb_known_for H where H.movie_id=A.movie_id and H.person_id=B.person_id

In [170]:
tb_movie_basics['start_year'].min()
tb_movie_basics[['numvotes','primary_title']][(tb_movie_basics['primary_title'].str.contains('Fantastic Beasts', regex=True))]

       numvotes                                primary_title
33094    365353      Fantastic Beasts and Where to Find Them
43110    163151  Fantastic Beasts: The Crimes of Grindelwald

In [221]:
#tb_known_for
#tb_movie_basics.info()
#tn_movie_budgets.info()
#bom_movie_gross.info()
tb_known_for[tb_known_for['category']=='writer'].groupby('primary_name')
#write_count = tb_known_for.primary_name[tb_known_for['category']=='writer'].value_counts()
#write_count.head(20)
# tn_movie_budgets[(tn_movie_budgets.domestic_gross == '$0')].head(15)
#tn_movie_budgets['movie'][(tn_movie_budgets.domestic_gross == '$0')]
# bom_movie_gross[(bom_movie_gross.title == tn_movie_budgets['movie'][(tn_movie_budgets.domestic_gross == '$0')])]

In [213]:
genres = list(tb_movie_basics['genres'].str.split())
movie_id =  list(tb_movie_basics['movie_id'])

In [220]:
genres

SyntaxError: invalid syntax (<ipython-input-220-8f8d0c997759>, line 1)

In [125]:
tb_directors.loc[(tb_directors['primary_name']=='Bill Haley')]

,movie_id,person_id,primary_name,birth_year,death_year,primary_profession,primary_title,original_title,start_year,runtime_minutes,genres,priary_name
1,tt0462036,nm1940585,Bill Haley,NaN,NaN,"director,writer,producer",Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110.0,Drama,Bill Haley

In [129]:
#tb_movie_akas
genres_list = list((tb_movie_basics['genres'].value_counts().index))
genres_list
tb_movie_basics['genres'].convert_dtypes()

['Drama',
 'Documentary',
 'Comedy',
 'Horror',
 'Comedy,Drama',
 'Thriller',
 'Drama,Romance',
 'Comedy,Romance',
 'Comedy,Drama,Romance',
 'Horror,Thriller',
 'Drama,Thriller',
 'Action',
 'Romance',
 'Biography,Documentary',
 'Documentary,Drama',
 'Documentary,Music',
 'Comedy,Horror',
 'Action,Crime,Drama',
 'Crime,Drama,Thriller',
 'Crime,Drama',
 'Family',
 'Biography,Documentary,History',
 'Drama,Family',
 'Documentary,History',
 'Action,Drama',
 'Horror,Mystery,Thriller',
 'Biography,Documentary,Drama',
 'Drama,Horror,Thriller',
 'Animation',
 'Action,Thriller',
 'Action,Comedy',
 'Documentary,Sport',
 'Comedy,Drama,Family',
 'Drama,Mystery,Thriller',
 'Sci-Fi',
 'Crime',
 'Action,Adventure,Comedy',
 'Biography,Drama',
 'Biography,Documentary,Music',
 'Action,Crime,Thriller',
 'Adventure,Animation,Comedy',
 'Action,Drama,Thriller',
 'Comedy,Crime,Drama',
 'Action,Comedy,Crime',
 'Drama,Horror,Mystery',
 'Documentary,News',
 'Drama,History',
 'Crime,Drama,Mystery',
 'Drama,Mystery',
 'Crime,Thriller',
 'Comedy,Family',
 'Action,Adventure,Drama',
 'Mystery',
 'Comedy,Crime',
 'Adventure',
 'Music',
 'Action,Comedy,Drama',
 'Biography,Drama,History',
 'Drama,War',
 'Action,Adventure,Animation',
 'Mystery,Thriller',
 'Biography',
 'Drama,Horror',
 'Comedy,Drama,Fantasy',
 'Documentary,Drama,History',
 'Adventure,Comedy,Drama',
 'Fantasy',
 'Documentary,Drama,Family',
 'Drama,Music',
 'Documentary,History,News',
 'Comedy,Drama,Music',
 'Drama,Sport',
 'Musical',
 'Comedy,Documentary',
 'Biography,Documentary,Family',
 'Documentary,Family',
 'Adventure,Documentary',
 'Drama,Sci-Fi',
 'Drama,Fantasy',
 'Biography,Comedy,Documentary',
 'Action,Adventure,Sci-Fi',
 'Action,Comedy,Horror',
 'Drama,Romance,Thriller',
 'Comedy,Documentary,Drama',
 'Adventure,Drama',
 'Adventure,Biography,Documentary',
 'Action,Drama,Romance',
 'Horror,Sci-Fi,Thriller',
 'Action,Horror,Thriller',
 'Drama,Fantasy,Horror',
 'History',
 'Crime,Mystery,Thriller',
 'Adventure,Documentary,Drama',
 'Action,Adventure,Fantasy',
 'Drama,Family,Romance',
 'Horror,Mystery',
 'Biography,Documentary,Sport',
 'Adventure,Animation,Family',
 'Comedy,Horror,Thriller',
 'Drama,History,War',
 'Drama,Mystery,Romance',
 'Action,Drama,History',
 'Drama,Sci-Fi,Thriller',
 'Action,Crime',
 'Adventure,Comedy',
 'Documentary,History,War',
 'Horror,Sci-Fi',
 'Sci-Fi,Thriller',
 'Sport',
 'Adventure,Comedy,Family',
 'Comedy,Fantasy',
 'Action,Sci-Fi',
 'Action,Sci-Fi,Thriller',
 'Adventure,Family',
 'Crime,Drama,Horror',
 'Documentary,War',
 'Crime,Documentary',
 'Comedy,Thriller',
 'Comedy,Sci-Fi',
 'Documentary,History,Music',
 'Drama,Music,Romance',
 'Action,Horror,Sci-Fi',
 'Biography,Comedy,Drama',
 'Comedy,Drama,Horror',
 'Crime,Drama,Romance',
 'Biography,Crime,Documentary',
 'Action,Horror',
 'Western',
 'Drama,Fantasy,Mystery',
 'Comedy,Drama,Thriller',
 'Comedy,Drama,Mystery',
 'Biography,Crime,Drama',
 'Crime,Horror,Thriller',
 'Drama,History,Romance',
 'Adventure,Drama,Family',
 'Biography,Drama,Romance',
 'Action,Comedy,Romance',
 'Action,Adventure',
 'Crime,Documentary,Drama',
 'Documentary,Drama,News',
 'Comedy,Drama,Musical',
 'Comedy,Fantasy,Horror',
 'Biography,Drama,Music',
 'Comedy,Horror,Sci-Fi',
 'Action,Adventure,Documentary',
 'Drama,Horror,Sci-Fi',
 'Comedy,Family,Romance',
 'Drama,Mystery,Sci-Fi',
 'Animation,Family',
 'Drama,Musical',
 'Drama,Musical,Romance',
 'Drama,Fantasy,Romance',
 'Adventure,Comedy,Fantasy',
 'Comedy,Musical',
 'Comedy,Music',
 'Comedy,Fantasy,Romance',
 'Action,Drama,War',
 'Action,Adventure,Horror',
 'Action,Adventure,Crime',
 'Action,Biography,Drama',
 'Comedy,Drama,Sport',
 'Action,Drama,Sci-Fi',
 'Adventure,Drama,Romance',
 'Fantasy,Horror',
 'Adventure,Family,Fantasy',
 'Documentary,Family,History',
 'Fantasy,Horror,Thriller',
 'Comedy,Sport',
 'Action,Adventure,Thriller',
 'Action,Drama,Horror',
 'Adventure,Drama,Fantasy',
 'War',
 'Adventure,Documentary,History',
 'Romance,Thriller',
 'Biography,Drama,Sport',
 'Animation,Comedy,Family',
 'Comedy,Crime,Thriller',
 'Action,Comedy,Fantasy',
 'Action,Romance',
 'Action,Comedy,Thriller',
 'Biography,Documentary,News',
 'Fantasy,Horror,Mystery',
 'Animation,Comedy,Drama',
 'Comedy,Family,Fantasy',
 'Drama,Romance,War',
 'Action,Drama,Mystery',
 'Adventure,Comedy,Documentary',
 'Drama,Romance,Sci-Fi',
 'Animation,Biography,Documentary',
 'Comedy,Mystery',
 'Documentary,Drama,Sport',
 'Comedy,Drama,Sci-Fi',
 'Adventure,Documentary,Family',
 'Horror,Mystery,Sci-Fi',
 'Documentary,History,Sport',
 'Action,Animation,Sci-Fi',
 'Comedy,Drama,History',
 'Adventure,Documentary,Sport',
 'Documentary,Horror',
 'Animation,Comedy',
 'Crime,Documentary,History',
 'Action,Animation,Drama',
 'Crime,Horror,Mystery',
 'Action,Fantasy,Horror',
 'Action,Drama,Fantasy',
 'Comedy,Documentary,History',
 'Action,Animation,Comedy',
 'Action,Crime,Mystery',
 'Comedy,Music,Romance',
 'Mystery,Sci-Fi,Thriller',
 'Drama,Horror,Romance',
 'Comedy,Crime,Mystery',
 'Comedy,Horror,Romance',
 'Action,Comedy,Sci-Fi',
 'Action,Drama,Family',
 'Comedy,Musical,Romance',
 'Adventure,Drama,Thriller',
 'Animation,Documentary',
 'Drama,Family,Fantasy',
 'Comedy,Horror,Mystery',
 'Action,Drama,Sport',
 'Documentary,Musical',
 'Crime,Drama,Family',
 'Drama,Family,History',
 'Adventure,Comedy,Crime',
 'Adventure,Animation,Drama',
 'Drama,Fantasy,Thriller',
 'Drama,Fantasy,Sci-Fi',
 'Action,Adventure,Family',
 'Drama,History,Thriller',
 'Action,Documentary,Drama',
 'Drama,Western',
 'Adventure,Drama,Mystery',
 'Biography,Drama,Family',
 'Action,Mystery,Thriller',
 'Adventure,Comedy,Horror',
 'Action,Biography,Documentary',
 'Adventure,Biography,Drama',
 'Action,Animation,Fantasy',
 'Drama,Romance,Sport',
 'Drama,Family,Music',
 'Adventure,Animation,Fantasy',
 'Drama,Family,Sport',
 'Fantasy,Horror,Sci-Fi',
 'Drama,Family,Thriller',
 'Action,Horror,Mystery',
 'Action,Crime,Horror',
 'Comedy,Crime,Horror',
 'Animation,Drama',
 'Documentary,Drama,Music',
 'Adventure,Drama,History',
 'Action,Biography,Crime',
 'Drama,Thriller,War',
 'Adventure,Fantasy',
 'Adventure,Animation',
 'Comedy,Crime,Romance',
 'Documentary,Drama,War',
 'Family,Fantasy',
 'Documentary,Family,Music',
 'Action,Fantasy',
 'Crime,Mystery',
 'Adventure,Horror,Thriller',
 'Biography,Drama,Thriller',
 'Documentary,Romance',
 'Documentary,Drama,Romance',
 'Drama,Music,Musical',
 'Fantasy,Thriller',
 'Action,War',
 'Animation,Drama,Fantasy',
 'Drama,Family,Mystery',
 'Action,Romance,Thriller',
 'Adventure,Drama,Horror',
 'Action,Adventure,Biography',
 'Comedy,Romance,Thriller',
 'Adventure,Drama,Sci-Fi',
 'Biography,Drama,War',
 'Mystery,Romance,Thriller',
 'Documentary,Mystery',
 'Drama,Family,Musical',
 'Adventure,Comedy,Romance',
 'Action,Documentary,Sport',
 'Crime,Drama,History',
 'Documentary,Family,News',
 'Animation,Fantasy',
 'Action,Comedy,Documentary',
 'Animation,Comedy,Fantasy',
 'Documentary,History,Mystery',
 'Comedy,Romance,Sport',
 'Adventure,Crime,Drama',
 'Documentary,Family,Sport',
 'Comedy,Documentary,Family',
 'Family,Sport',
 'Adventure,Fantasy,Horror',
 'Adventure,Comedy,Sci-Fi',
 'Crime,Drama,Fantasy',
 'Action,Drama,Music',
 'Fantasy,Romance',
 'Adventure,Sci-Fi',
 'Action,Fantasy,Sci-Fi',
 'Horror,Romance,Thriller',
 'Adventure,Documentary,Music',
 'Adventure,Thriller',
 'Comedy,History',
 'Comedy,Romance,Sci-Fi',
 'Animation,Family,Fantasy',
 'Crime,Documentary,News',
 'Comedy,Drama,War',
 'Biography,History',
 'Animation,Documentary,History',
 'Adventure,Documentary,News',
 'Documentary,Western',
 'Action,Adventure,History',
 'Family,Romance',
 'Comedy,Documentary,Music',
 'Animation,Drama,Family',
 'Comedy,Fantasy,Sci-Fi',
 'Crime,Romance,Thriller',
 'Action,History',
 'Comedy,Mystery,Thriller',
 'Action,Comedy,Family',
 'Documentary,Music,Musical',
 'Fantasy,Sci-Fi',
 'Biography,Comedy',
 'Biography,Comedy,Crime',
 'Adventure,Horror',
 'Comedy,Horror,Musical',
 'Crime,Documentary,Mystery',
 'Musical,Romance',
 'Action,Western',
 'Comedy,Sci-Fi,Thriller',
 'Adventure,Animation,Sci-Fi',
 'Horror,Romance',
 'Drama,Family,Sci-Fi',
 'Action,Mystery,Sci-Fi',
 'Documentary,Sci-Fi',
 'Comedy,Fantasy,Music',
 'Animation,Drama,Romance',
 'Comedy,Western',
 'Crime,Horror',
 'Drama,Fantasy,Musical',
 'Action,Adventure,Mystery',
 'Documentary,Drama,Mystery',
 'Comedy,Family,Musical',
 'Animation,Documentary,Drama',
 'Action,Drama,Western',
 'Family,Musical',
 'Mystery,Romance',
 'Biography,Documentary,Musical',
 'Action,Thriller,War',
 'Comedy,Documentary,News',
 'Comedy,Family,Music',
 'Comedy,Family,Sport',
 'Adventure,Mystery,Thriller',
 'Action,Comedy,Mystery',
 'Action,Family',
 'Crime,Drama,Sport',
 'Action,Animation',
 'Crime,Drama,Music',
 'Horror,Mystery,Romance',
 'Mystery,Sci-Fi',
 'Action,Adventure,Western',
 'Adventure,Fantasy,Mystery',
 'Comedy,Documentary,Romance',
 'Comedy,Mystery,Sci-Fi',
 'Adventure,Horror,Sci-Fi',
 'Animation,Sci-Fi',
 'Drama,Mystery,War',
 'Adventure,Family,Sci-Fi',
 'Documentary,Thriller',
 'Action,Crime,Romance',
 'Drama,Family,War',
 'Music,Romance',
 'Biography,Drama,Fantasy',
 'Action,Animation,Crime',
 'Adventure,Family,Mystery',
 'Action,Documentary',
 'Action,Documentary,History',
 'Adventure,Drama,Music',
 'Biography,Documentary,War',
 'Comedy,Documentary,Musical',
 'Adventure,Biography,Comedy',
 'Comedy,Fantasy,Musical',
 'Family,Mystery',
 'Drama,History,Sport',
 'Biography,Documentary,Romance',
 'Action,Comedy,History',
 'Adventure,Fantasy,Sci-Fi',
 'Fantasy,Sci-Fi,Thriller',
 'Adventure,Comedy,Musical',
 'Documentary,Music,War',
 'Documentary,Drama,Fantasy',
 'Adventure,Horror,Mystery',
 'Animation,Biography,Comedy',
 'Action,Fantasy,Thriller',
 'Comedy,Crime,Family',
 'Fantasy,Mystery,Thriller',
 'Action,Crime,Sci-Fi',
 'Animation,Comedy,Crime',
 'Animation,Biography,Drama',
 'Adventure,Drama,Western',
 'Adventure,Romance',
 'Animation,Sport',
 'Comedy,Mystery,Romance',
 'Romance,Sci-Fi',
 'Drama,Fantasy,Music',
 'Fantasy,Mystery,Sci-Fi',
 'Drama,Music,Mystery',
 'Romance,Sci-Fi,Thriller',
 'Comedy,Music,Musical',
 'Drama,Music,Thriller',
 'Adventure,Mystery',
 'Biography,Documentary,Fantasy',
 'Action,Adventure,War',
 'Action,Comedy,Musical',
 'Adventure,Documentary,Mystery',
 'Adventure,History',
 'Comedy,War',
 'Comedy,Family,Sci-Fi',
 'Documentary,Music,Sport',
 'Biography,Drama,Musical',
 'Fantasy,Mystery',
 'Action,Sci-Fi,War',
 'Adventure,Animation,Biography',
 'Documentary,News,War',
 'Family,Sci-Fi',
 'Documentary,Fantasy',
 'Adventure,Drama,Sport',
 'Documentary,History,Thriller',
 'Crime,Sci-Fi,Thriller',
 'Adventure,Crime,Family',
 'Action,Crime,Fantasy',
 'Animation,Comedy,Sci-Fi',
 'Documentary,Drama,Thriller',
 'Adventure,Comedy,Mystery',
 'Horror,Romance,Sci-Fi',
 'Documentary,Music,News',
 'Animation,Drama,Horror',
 'Drama,History,Music',
 'Drama,History,Mystery',
 'Biography,Comedy,Music',
 'Drama,History,Musical',
 'Adventure,Biography,History',
 'Action,Biography,Comedy',
 'Action,History,War',
 'Action,Mystery',
 'Crime,Drama,War',
 'Adventure,Sport',
 'Comedy,Crime,Fantasy',
 'Animation,Family,Musical',
 'Drama,Thriller,Western',
 'Animation,Horror',
 'Biography,Documentary,Sci-Fi',
 'Action,Biography,History',
 'Drama,Music,Sci-Fi',
 'Action,Fantasy,Romance',
 'Action,Documentary,Family',
 'Reality-TV',
 'Animation,Comedy,Horror',
 'Adventure,Crime,Documentary',
 'Horror,Musical',
 'Documentary,Family,War',
 'Action,Comedy,Music',
 'Crime,Drama,Western',
 'Animation,Comedy,Music',
 'Horror,Thriller,War',
 'Crime,Mystery,Sci-Fi',
 'Animation,Documentary,Family',
 'Biography,Drama,Mystery',
 'Animation,Drama,Mystery',
 'Crime,Fantasy,Mystery',
 'Biography,Documentary,Mystery',
 'Adventure,Sci-Fi,Thriller',
 'Adventure,Family,Romance',
 'Documentary,Drama,Sci-Fi',
 'Animation,Comedy,Documentary',
 'Drama,Mystery,Western',
 'Action,Crime,Documentary',
 'Comedy,Documentary,Horror',
 'Comedy,Drama,Western',
 'Fantasy,Musical',
 'Action,Drama,Musical',
 'Crime,Drama,Sci-Fi',
 'Action,Horror,Western',
 'Documentary,Family,Romance',
 'Documentary,History,Horror',
 'Adventure,Fantasy,Romance',
 'Biography,Music',
 'Animation,Comedy,Romance',
 'Action,History,Thriller',
 'Documentary,History,Romance',
 'Comedy,Documentary,Mystery',
 'Crime,Romance',
 'Animation,Crime,Drama',
 'Thriller,Western',
 'Family,Fantasy,Musical',
 'Drama,Fantasy,History',
 'Documentary,Family,Fantasy',
 'Crime,Documentary,War',
 'Horror,Music,Sci-Fi',
 'History,Horror,Thriller',
 'Drama,History,Sci-Fi',
 'Animation,History',
 'Comedy,Horror,Music',
 'Animation,Drama,Musical',
 'Adventure,Crime,Thriller',
 'Drama,Musical,Thriller',
 'Crime,Drama,Musical',
 'Fantasy,Horror,Musical',
 'Adventure,Comedy,Thriller',
 'Action,Animation,Horror',
 'Thriller,War',
 'Animation,Thriller',
 'Drama,Family,Horror',
 'Action,Sport',
 'Animation,Drama,Thriller',
 'Comedy,Documentary,Sport',
 'Fantasy,Mystery,Romance',
 'Horror,Western',
 'Horror,Thriller,Western',
 'Drama,Sport,Thriller',
 'Crime,Documentary,Thriller',
 'Drama,Music,War',
 'Adventure,Mystery,Sci-Fi',
 'Animation,Drama,History',
 'Fantasy,Romance,Thriller',
 'Action,Comedy,Sport',
 'News',
 'Action,Family,Fantasy',
 'Adventure,Documentary,Romance',
 'History,Horror',
 'Biography,Sport',
 'Animation,Biography',
 'Documentary,Drama,Musical',
 'Family,Thriller',
 'Action,Romance,Sport',
 'Action,Adventure,Romance',
 'Biography,Drama,Horror',
 'Comedy,Fantasy,Thriller',
 'Drama,News',
 'Animation,Fantasy,Horror',
 'Documentary,History,Sci-Fi',
 'Action,Horror,Romance',
 'Drama,History,Horror',
 'Animation,Drama,Sport',
 'Documentary,Horror,Thriller',
 'Comedy,History,War',
 'History,Romance',
 'Comedy,Family,Mystery',
 'History,War',
 'Biography,History,War',
 'Adventure,Animation,Horror',
 'Biography,Documentary,Western',
 'Romance,Sport',
 'Music,Mystery,Thriller',
 'Crime,Fantasy,Horror',
 'Comedy,Musical,Sci-Fi',
 'Adventure,Documentary,Western',
 'Drama,News,Thriller',
 'Adventure,Comedy,Western',
 'Action,Biography',
 'Drama,Sci-Fi,War',
 'Animation,Horror,Thriller',
 'Biography,Family',
 'Animation,Documentary,Music',
 'Biography,Documentary,Thriller',
 'Comedy,Crime,Music',
 'Sci-Fi,Western',
 'Action,Thriller,Western',
 'Comedy,Music,Sci-Fi',
 'Mystery,Romance,Sci-Fi',
 'Horror,Music,Thriller',
 'Action,Romance,War',
 'Animation,Music',
 'Drama,Fantasy,Western',
 'Crime,History,Thriller',
 'Animation,Comedy,Musical',
 'Adventure,Biography,Crime',
 'Musical,Thriller',
 'Romance,War',
 'Action,Romance,Sci-Fi',
 'Action,Adventure,Music',
 'Horror,War',
 'Animation,Crime,Documentary',
 'Drama,Horror,Musical',
 'Action,Crime,History',
 'Comedy,Family,Horror',
 'Family,Musical,Romance',
 'Action,Animation,Family',
 'Family,Mystery,Thriller',
 'Documentary,History,Western',
 'Adventure,Comedy,Music',
 'Animation,Romance',
 'Crime,Documentary,Family',
 'Fantasy,Music',
 'Biography,Crime,Thriller',
 'Drama,Horror,Music',
 'Fantasy,Musical,Sci-Fi',
 'Animation,Sci-Fi,Thriller',
 'Documentary,Fantasy,History',
 'Animation,Horror,Mystery',
 'Adventure,Comedy,History',
 'Animation,Fantasy,Mystery',
 'Family,Fantasy,Horror',
 'Comedy,Crime,Documentary',
 'Action,Comedy,Western',
 'Crime,Thriller,Western',
 'Adventure,Drama,War',
 'Crime,Mystery,Romance',
 'Animation,Musical',
 'Adventure,Fantasy,History',
 'Crime,Family',
 'Adventure,Fantasy,Musical',
 'Documentary,Mystery,Thriller',
 'Biography,Documentary,Horror',
 'Adventure,Family,Horror',
 'Crime,Sci-Fi',
 'Musical,Romance,Thriller',
 'Drama,Mystery,News',
 'Comedy,Crime,Sport',
 'Action,Adult,Comedy',
 'Animation,Family,Music',
 'Animation,Documentary,War',
 'Biography,Comedy,History',
 'Adventure,Family,Western',
 'Animation,Drama,Music',
 'Action,Family,Sci-Fi',
 'Biography,History,Mystery',
 'Animation,Fantasy,Sci-Fi',
 'Animation,Fantasy,Music',
 'Action,Biography,Thriller',
 'Comedy,Crime,Musical',
 'History,Sci-Fi',
 'Documentary,Family,Western',
 'Crime,Fantasy,Thriller',
 'Fantasy,Romance,Sci-Fi',
 'Animation,Biography,Family',
 'Drama,History,Western',
 'Action,Crime,Sport',
 'Crime,Music,Thriller',
 'Family,Horror,Thriller',
 'Documentary,Reality-TV',
 'Documentary,Mystery,Sci-Fi',
 'Crime,Horror,Musical',
 'Drama,Musical,Sci-Fi',
 'Biography,Comedy,Fantasy',
 'Comedy,Crime,History',
 'Adventure,Documentary,Reality-TV',
 'Drama,Musical,War',
 'History,Thriller,War',
 'Action,Sci-Fi,Western',
 'Animation,Biography,Crime',
 'Animation,Documentary,News',
 'Documentary,Drama,Reality-TV',
 'Animation,Drama,Sci-Fi',
 'Crime,Horror,Romance',
 'Biography,War',
 'Animation,War',
 'Crime,Horror,Sci-Fi',
 'Documentary,Fantasy,Horror',
 'Adventure,Animation,Documentary',
 'Comedy,History,Horror',
 'Fantasy,Music,Romance',
 'Adventure,History,Romance',
 'Documentary,Mystery,News',
 'Adventure,Family,Sport',
 'Adventure,Drama,Musical',
 'Drama,News,War',
 'Family,Fantasy,Romance',
 'Animation,Horror,Music',
 'Animation,Comedy,History',
 'Biography,Crime,History',
 'Crime,Documentary,Music',
 'Action,Fantasy,History',
 'Animation,Mystery,Sci-Fi',
 'Action,Fantasy,Mystery',
 'Documentary,Horror,Mystery',
 'Family,History,War',
 'Documentary,Drama,Horror',
 'Documentary,News,Thriller',
 'History,Thriller',
 'Music,Musical',
 'Action,Mystery,Romance',
 'Action,Fantasy,Western',
 'Action,Comedy,War',
 'Adventure,Biography',
 'Adventure,Western',
 'Biography,Comedy,Romance',
 'Biography,Comedy,Family',
 'Adventure,Music',
 'Comedy,Family,Western',
 'Action,Horror,Sport',
 'Animation,Fantasy,Romance',
 'Action,Musical',
 'Documentary,Music,Romance',
 'Biography,History,Thriller',
 'Animation,Biography,History',
 'Action,Fantasy,War',
 'Adventure,History,Mystery',
 'Documentary,Music,Mystery',
 'Action,Animation,Sport',
 'Biography,Musical',
 'Adventure,Family,Musical',
 'Comedy,Family,Thriller',
 'Biography,Thriller',
 'Animation,Romance,Sci-Fi',
 'Adventure,Horror,Romance',
 'Family,Western',
 'Biography,Comedy,Sci-Fi',
 'Animation,Family,Sport',
 'Horror,Music,Mystery',
 'Documentary,Fantasy,Sci-Fi',
 'Sci-Fi,War',
 'Family,Fantasy,Sci-Fi',
 'Mystery,News,Thriller',
 'Sport,Thriller',
 'Documentary,Horror,Romance',
 'Adventure,Crime,Horror',
 'Documentary,Family,Sci-Fi',
 'Action,Animation,History',
 'Fantasy,History,Romance',
 'Documentary,News,Sport',
 'Crime,History',
 'Comedy,Music,War',
 'Adventure,Crime',
 'Biography,History,Music',
 'Family,Fantasy,Music',
 'Biography,Family,Fantasy',
 'Comedy,Documentary,War',
 'Biography,Fantasy,Horror',
 'Crime,Sport,Thriller',
 'Adventure,Biography,Family',
 'Adult,Horror',
 'Comedy,News',
 'Animation,Family,History',
 'Animation,Fantasy,History',
 'Comedy,Sci-Fi,Sport',
 'Action,Romance,Western',
 'Action,Documentary,News',
 'Adventure,Romance,Sport',
 'Action,Family,Western',
 'Adventure,News',
 'Crime,Family,Horror',
 'Biography,Crime',
 'Animation,Comedy,Mystery',
 'Action,Music',
 'Family,Fantasy,Mystery',
 'Adventure,Romance,Sci-Fi',
 'History,Music',
 'Documentary,Sport,Thriller',
 'Action,Musical,Sci-Fi',
 'Comedy,Fantasy,Sport',
 'Action,History,Romance',
 'Action,Musical,Romance',
 'Comedy,Horror,War',
 'Action,Family,Mystery',
 'Adventure,History,Sci-Fi',
 'Crime,Western',
 'Adventure,Documentary,Sci-Fi',
 'Animation,Crime,Mystery',
 'Biography,Family,History',
 'Biography,Documentary,Reality-TV',
 'Action,Sport,Thriller',
 'Horror,Sport,Thriller',
 'Documentary,Family,Musical',
 'Musical,Romance,Western',
 'Game-Show',
 'Crime,Musical,Thriller',
 'History,Mystery,Thriller',
 'Documentary,News,Reality-TV',
 'Family,Music,Romance',
 'Comedy,History,Mystery',
 'Documentary,Horror,News',
 'Documentary,Drama,Western',
 'Comedy,Musical,Western',
 'Action,Mystery,Western',
 'Drama,Short',
 'Documentary,Music,Reality-TV',
 'Documentary,History,Reality-TV',
 'Adventure,Mystery,Romance',
 'Biography,Music,Romance',
 'Animation,Documentary,Mystery',
 'Comedy,Horror,Western',
 'Comedy,Documentary,Sci-Fi',
 'Adventure,Documentary,Horror',
 'Comedy,Reality-TV',
 'Comedy,History,News',
 'Documentary,Fantasy,Mystery',
 'Biography,Thriller,Western',

In [69]:
tb_directors['director_name'] = tb_directors
tb_directors['movie_directed'] = tb_directors

         movie_id   person_id
0       tt0285252   nm0899854
1       tt0462036   nm1940585
2       tt0835418   nm0151540
3       tt0835418   nm0151540
4       tt0878654   nm0089502
...           ...         ...
291169  tt8999974  nm10122357
291170  tt9001390   nm6711477
291171  tt9001494  nm10123242
291172  tt9001494  nm10123248
291173  tt9004986   nm4993825

[291174 rows x 2 columns]

In [89]:
tb_directors['person_id'].values

array(['nm0899854', 'nm1940585', 'nm0151540', ..., 'nm10123242',
       'nm10123248', 'nm4993825'], dtype=object)

In [8]:
%%bash


sqlite3 data/im.db
.schema

CREATE TABLE IF NOT EXISTS "movie_basics" (
"movie_id" TEXT,
  "primary_title" TEXT,
  "original_title" TEXT,
  "start_year" INTEGER,
  "runtime_minutes" REAL,
  "genres" TEXT
);
CREATE TABLE IF NOT EXISTS "directors" (
"movie_id" TEXT,
  "person_id" TEXT
);
CREATE TABLE IF NOT EXISTS "known_for" (
"person_id" TEXT,
  "movie_id" TEXT
);
CREATE TABLE IF NOT EXISTS "movie_akas" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "title" TEXT,
  "region" TEXT,
  "language" TEXT,
  "types" TEXT,
  "attributes" TEXT,
  "is_original_title" REAL
);
CREATE TABLE IF NOT EXISTS "movie_ratings" (
"movie_id" TEXT,
  "averagerating" REAL,
  "numvotes" INTEGER
);
CREATE TABLE IF NOT EXISTS "persons" (
"person_id" TEXT,
  "primary_name" TEXT,
  "birth_year" REAL,
  "death_year" REAL,
  "primary_profession" TEXT
);
CREATE TABLE IF NOT EXISTS "principals" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "person_id" TEXT,
  "category" TEXT,
  "job" TEXT,
  "characters" TEXT
);
CREATE TABLE IF NOT EXISTS "writers" (
"movie_id" TEXT,
  "person_id" TEXT
);

In [ ]:
query = cursor_obj.execute("""
SELECT * 
FROM airports 
LIMIT 5
""")